body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(img/oi.png);
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 5px;
    
}
img{
    opacity: 0,5;
    
    
}
a:hover{
    color: lightcoral;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
}
.social{
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    padding: 5px;
    
}